/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 févr. 2014, 16:36:59
    Author     : INF-PORT-CR2
*/
body,h1,h2,#menu,#modifier_commande,table,th,td,input{
    font-family: "Segoe UI", Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}

body{
    font-weight:lighter;
    /*    background-image: url(../Images/motif_fond.png);
        background-position:top left;*/
    background-color:wheat;
    margin:0;
}

h1{
    margin:0;
    color:white;
    border-bottom:1px solid lightgrey;
    background-color:#BD8D46;
}

#menu{
    margin:auto;
    margin-top:5%;
}

#modifier_commande{
    position:relative;
    width:100%;
    border-bottom:1px solid #BD8D46;
    display:inline-block;
}

table{
    width:100%;
    background-color:wheat;
    box-shadow: 1px 1px 12px #555;
}

th{
    font-weight:normal;
    color:white;
    background-color:#BD8D46;
}

td{
    text-align:center;
    width:20%;    
}

input{
    background-color:white;
    border:1px solid lightgrey;
    color:lightgrey;
    font-weight:normal;
    color:#BD8D46;
    font-size:15px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1){

    body{
        font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    }

    input{
        -webkit-appearance: none;
        border-radius:0;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 1){

    #menu{
        zoom:150%;
    }  
}